* {
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 3.125rem;
    color: white;
    padding: 1rem 0;
}

.download-link {
    color: aquamarine;
    font-size: 1.2rem;
    text-decoration: underline;
    padding: 1rem 0;
}

.download-link:hover {
    cursor: pointer;
    text-shadow: 0.3px 0 white;
}

.video-container {
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 2.625rem;
    color: white;
    padding: 1rem 0;
}

p {
    font-weight: 300;
    font-size: 1.5rem;
    color: gray;
}

img {
    padding: 1.5rem 0;
}

.small-icon {
    padding: 0;
}

.copyright {
    font-weight: 300;
    font-size: 1.5rem;
    color: gray;
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 1rem;
}







